
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p> <%= message %> </p> <br> <br> 
   <p>
      First load of this page should take  approx 5 seconds, but for the next 10 seconds, it would
      reload almost instantly.
    </p>
    <p>This page was cached on: <%= date  %></p>
    <p>Hemant SOnker</p>
  </body>
</html>

